@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#dropdown-menu-2btn-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-7 .nav .link,
#dropdown-menu-2btn-7 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-7 .navbar,
#dropdown-menu-2btn-7 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-7 .dropdown-menu a:hover,
#dropdown-menu-2btn-7 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-7 .navbar-toggler {
  color: #ffffff;
}
#header3-r H3 {
  text-align: center;
}
#contacts2-t P {
  color: #000000;
}
#contacts2-t UL {
  color: #000000;
}
#footer1-1n P {
  text-align: center;
}

#dropdown-menu-2btn-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-w .nav .link,
#dropdown-menu-2btn-w .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-w .navbar,
#dropdown-menu-2btn-w .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-w .dropdown-menu a:hover,
#dropdown-menu-2btn-w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-w .navbar-toggler {
  color: #ffffff;
}
#msg-box4-x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-x .mbr-article {
  color: #ffffff;
}
#header3-y H3 {
  text-align: center;
}
#contacts2-10 P {
  color: #000000;
}
#contacts2-10 UL {
  color: #000000;
}
#footer1-1n P {
  text-align: center;
}

#dropdown-menu-2btn-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-11 .nav .link,
#dropdown-menu-2btn-11 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-11 .navbar,
#dropdown-menu-2btn-11 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-11 .dropdown-menu a:hover,
#dropdown-menu-2btn-11 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-11 .navbar-toggler {
  color: #ffffff;
}
#msg-box1-34 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-34 .mbr-article {
  color: #fff;
}
#features1-14 .mbr-section__col .mbr-header__text {
  font-size: 20px;
}
#features1-14 P {
  font-size: 15px;
  text-align: center;
}
#contacts2-15 P {
  color: #000000;
}
#contacts2-15 UL {
  color: #000000;
}
#footer1-1n P {
  text-align: center;
}

#dropdown-menu-2btn-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-16 .nav .link,
#dropdown-menu-2btn-16 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-16 .navbar,
#dropdown-menu-2btn-16 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-16 .dropdown-menu a:hover,
#dropdown-menu-2btn-16 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-16 .navbar-toggler {
  color: #ffffff;
}
#msg-box1-2i .mbr-header .mbr-header__text {
  color: #ffffff;
  text-align: left;
  font-size: 30px;
}
#msg-box1-2i .mbr-article {
  color: #fff;
}
#contacts2-15 P {
  color: #000000;
}
#contacts2-15 UL {
  color: #000000;
}
#footer1-1n P {
  text-align: center;
}

#dropdown-menu-2btn-1o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1o .nav .link,
#dropdown-menu-2btn-1o .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1o .navbar,
#dropdown-menu-2btn-1o .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1o .dropdown-menu a:hover,
#dropdown-menu-2btn-1o .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1o .navbar-toggler {
  color: #ffffff;
}
#msg-box1-2e .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-2e .mbr-article {
  color: #fff;
}
#features1-21 P {
  font-size: 15px;
  text-align: center;
}
#features1-21 .mbr-section__col .mbr-header__text {
  text-align: center;
  font-size: 20px;
}
#contacts2-1p P {
  color: #000000;
}
#contacts2-1p UL {
  color: #000000;
}
#footer1-1q P {
  text-align: center;
}

#dropdown-menu-2btn-1r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1r .nav .link,
#dropdown-menu-2btn-1r .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1r .navbar,
#dropdown-menu-2btn-1r .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1r .dropdown-menu a:hover,
#dropdown-menu-2btn-1r .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1r .navbar-toggler {
  color: #ffffff;
}
#msg-box1-2f .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-2f .mbr-article {
  color: #fff;
}
#msg-box1-2f .mbr-header .mbr-header__text P {
  font-size: 25px;
  text-align: left;
}
#slider-29 P {
  color: #000000;
}
#msg-box1-2n .mbr-header .mbr-header__text {
  color: #ffffff;
}
#msg-box1-2n .mbr-article {
  color: #fff;
}
#msg-box2-2o .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-2o .mbr-article {
  color: #252525;
}
#msg-box2-2o .mbr-header .mbr-header__text P {
  text-align: left;
}
#msg-box2-2o .mbr-header .mbr-header__text DIV {
  text-align: center;
}
#contacts2-1s P {
  color: #000000;
}
#contacts2-1s UL {
  color: #000000;
}
#footer1-1t P {
  text-align: center;
}

#dropdown-menu-2btn-1u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1u .nav .link,
#dropdown-menu-2btn-1u .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1u .navbar,
#dropdown-menu-2btn-1u .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1u .dropdown-menu a:hover,
#dropdown-menu-2btn-1u .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1u .navbar-toggler {
  color: #ffffff;
}
#msg-box1-2g .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
}
#msg-box1-2g .mbr-article {
  color: #fff;
}
#msg-box1-2g .mbr-header .mbr-header__text P {
  text-align: left;
}
#msg-box2-2s .mbr-header .mbr-header__text {
  color: #252525;
  text-align: center;
}
#msg-box2-2s .mbr-article {
  color: #252525;
}
#msg-box2-2s .mbr-header .mbr-header__text P {
  font-size: 30px;
  text-align: center;
}
#msg-box1-2u .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-2u .mbr-article {
  color: #fff;
}
#msg-box1-2u .mbr-header .mbr-header__text P {
  text-align: left;
}
#msg-box1-2w .mbr-header .mbr-header__text {
  color: #000000;
  text-align: left;
}
#msg-box1-2w .mbr-article {
  color: #fff;
}
#contacts2-1v P {
  color: #000000;
}
#contacts2-1v UL {
  color: #000000;
}
#footer1-1w P {
  text-align: center;
}

#dropdown-menu-2btn-1x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1x .nav .link,
#dropdown-menu-2btn-1x .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1x .navbar,
#dropdown-menu-2btn-1x .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-1x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1x .dropdown-menu a:hover,
#dropdown-menu-2btn-1x .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-1x .navbar-toggler {
  color: #ffffff;
}
#msg-box1-2h .mbr-header .mbr-header__text {
  color: #fff;
  text-align: right;
}
#msg-box1-2h .mbr-article {
  color: #fff;
}
#slider-2y P {
  text-align: right;
  color: #124874;
}
#slider-2y H1 {
  color: #f97352;
  text-align: left;
}
#msg-box1-31 .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
}
#msg-box1-31 .mbr-article {
  color: #fff;
}
#msg-box1-31 .mbr-header .mbr-header__text P {
  text-align: left;
}
#msg-box1-32 .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
}
#msg-box1-32 .mbr-article {
  color: #fff;
}
#msg-box1-32 .mbr-header .mbr-header__text DIV {
  text-align: left;
}
#msg-box1-32 .mbr-header .mbr-header__text P {
  text-align: left;
}
#msg-box2-33 .mbr-header .mbr-header__text {
  color: #252525;
  text-align: center;
}
#msg-box2-33 .mbr-article {
  color: #252525;
}
#msg-box2-33 .mbr-header .mbr-header__text DIV {
  text-align: left;
}
#msg-box2-33 .mbr-header .mbr-header__text P {
  text-align: left;
}
#contacts2-1y P {
  color: #000000;
}
#contacts2-1y UL {
  color: #000000;
}
#footer1-1z P {
  text-align: center;
}
